Repository Kusitms-POPTATO-DEV/illdan_Android, pull requests merged in 2024-10, with the labels that each got.

#6 Feat: 디자인 시스템 구축
  design-system/build.gradle.kts
  design-system/src/main/java/com/poptato/design_system/Color.kt
  design-system/src/main/java/com/poptato/design_system/PoptatoTypo.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/java/com/poptato/design_system/Theme.kt
  design-system/src/main/res/font/pretendard_black.ttf
  design-system/src/main/res/font/pretendard_bold.ttf
  design-system/src/main/res/font/pretendard_extra_bold.ttf
  design-system/src/main/res/font/pretendard_extra_light.ttf
  design-system/src/main/res/font/pretendard_light.ttf
  design-system/src/main/res/font/pretendard_medium.ttf
  design-system/src/main/res/font/pretendard_regular.ttf
  design-system/src/main/res/font/pretendard_semi_bold.ttf
  design-system/src/main/res/font/pretendard_thin.ttf
Labels: design

#12 Feat: 디자인시스템 변경사항 반영
  design-system/src/main/java/com/poptato/design_system/Color.kt
Labels: design

#14 Feat: 메인 화면 바텀 네비게이션바 구현
  core/src/main/java/com/poptato/core/enums/BottomNavType.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_calendar_selected.xml
  design-system/src/main/res/drawable/ic_calendar_unselected.xml
  design-system/src/main/res/drawable/ic_clock_selected.xml
  design-system/src/main/res/drawable/ic_clock_unselected.xml
  design-system/src/main/res/drawable/ic_list_selected.xml
  design-system/src/main/res/drawable/ic_list_unselected.xml
  design-system/src/main/res/drawable/ic_settings_selected.xml
  design-system/src/main/res/drawable/ic_settings_unselected.xml
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
Labels: feat

#19 Refactor: 스플래쉬, 로그인 디자인 변경
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_app.xml
  design-system/src/main/res/drawable/ic_calendar_selected.xml
  design-system/src/main/res/drawable/ic_calendar_unselected.xml
  design-system/src/main/res/drawable/ic_temp_splash.xml
  design-system/src/main/res/drawable/ic_today_selected.xml
  design-system/src/main/res/drawable/ic_today_unselected.xml
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/splash/src/main/java/com/poptato/splash/SplashScreen.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
Labels: refactor, design

#21 Feat: 투데이 화면 구현
  app/build.gradle.kts
  app/src/main/java/com/poptato/app/PoptatoApplication.kt
  core/build.gradle.kts
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  core/src/main/java/com/poptato/core/util/TimeFormatter.kt
  core/ui/src/main/java/com/poptato/ui/common/PoptatoCheckBox.kt
  data/src/main/java/com/poptato/data/base/ApiResponse.kt
  data/src/main/java/com/poptato/data/base/Mapper.kt
  data/src/main/java/com/poptato/data/model/response/today/TodayItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/today/TodayListResponse.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_checked.xml
  design-system/src/main/res/drawable/ic_unchecked.xml
  domain/src/main/java/com/poptato/domain/model/enums/TodoStatus.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodayItemModel.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodayListModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/today/.gitignore
  feature/today/build.gradle.kts
  feature/today/consumer-rules.pro
  feature/today/proguard-rules.pro
  feature/today/src/androidTest/java/com/poptato/today/ExampleInstrumentedTest.kt
  feature/today/src/main/AndroidManifest.xml
  feature/today/src/main/java/com/poptato/today/TodayPageState.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
  feature/today/src/test/java/com/poptato/today/ExampleUnitTest.kt
  settings.gradle.kts
Labels: feat, refactor

#23 Feat: 백로그 바텀시트 구현
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheetContent.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogListResponse.kt
  data/src/test/java/com/poptato/data/ExampleUnitTest.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_btn_add.xml
  design-system/src/main/res/drawable/ic_btn_minus.xml
  design-system/src/main/res/drawable/ic_star_empty.xml
  design-system/src/main/res/drawable/ic_star_filled.xml
  domain/src/main/java/com/poptato/domain/model/response/today/TodayListModel.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodoItemModel.kt
  domain/src/test/java/com/poptato/domain/ExampleUnitTest.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogPageState.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainEvent.kt
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/today/src/main/java/com/poptato/today/TodayPageState.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
Labels: feat, refactor

#26 Feat: 어제 한 일 페이지 구현
  app/src/main/java/com/poptato/app/PoptatoApplication.kt
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_all_check_bg.png
  design-system/src/main/res/drawable/ic_close_no_bg.xml
  design-system/src/main/res/drawable/ic_star2.xml
  design-system/src/main/res/drawable/ic_star3.xml
  design-system/src/main/res/drawable/ic_star4.xml
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/yesterdaylist/.gitignore
  feature/yesterdaylist/build.gradle.kts
  feature/yesterdaylist/consumer-rules.pro
  feature/yesterdaylist/proguard-rules.pro
  feature/yesterdaylist/src/androidTest/java/com/poptato/yesterdaylist/ExampleInstrumentedTest.kt
  feature/yesterdaylist/src/main/AndroidManifest.xml
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListEvent.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListPageState.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListScreen.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListViewModel.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/allcheck/AllCheckScreen.kt
  feature/yesterdaylist/src/test/java/com/poptato/yesterdaylist/ExampleUnitTest.kt
  settings.gradle.kts
Labels: feat

#30 Feat: 투두 바텀시트 내부 마감기한 선택 구현
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/src/main/java/com/poptato/core/enums/DateType.kt
  core/src/main/java/com/poptato/core/util/TimeFormatter.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/com/poptato/ui/common/DatePickerBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/util/Extensions.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogItemResponse.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/model/enums/BottomSheetType.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodoItemModel.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
Labels: feat, refactor

#28 Feat: 마이페이지 구현
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_caution.xml
  design-system/src/main/res/drawable/ic_person.xml
  design-system/src/main/res/drawable/ic_setting.xml
  design-system/src/main/res/drawable/ic_setting_bg.png
  feature/mypage/.gitignore
  feature/mypage/build.gradle.kts
  feature/mypage/consumer-rules.pro
  feature/mypage/proguard-rules.pro
  feature/mypage/src/androidTest/java/com/poptato/mypage/ExampleInstrumentedTest.kt
  feature/mypage/src/main/AndroidManifest.xml
  feature/mypage/src/main/java/com/poptato/mypage/MyPagePageState.kt
  feature/mypage/src/main/java/com/poptato/mypage/MyPageScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/MyPageViewModel.kt
  feature/mypage/src/test/java/com/poptato/mypage/ExampleUnitTest.kt
  feature/setting/.gitignore
  feature/setting/build.gradle.kts
  feature/setting/consumer-rules.pro
  feature/setting/proguard-rules.pro
  feature/setting/src/androidTest/java/com/poptato/setting/ExampleInstrumentedTest.kt
  feature/setting/src/main/AndroidManifest.xml
  feature/setting/src/main/java/com/poptato/setting/SettingPageState.kt
  feature/setting/src/main/java/com/poptato/setting/SettingScreen.kt
  feature/setting/src/main/java/com/poptato/setting/SettingViewModel.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteScreen.kt
  feature/setting/src/test/java/com/poptato/setting/ExampleUnitTest.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  gradle.properties
  settings.gradle.kts
Labels: feat

#33 Feat: 카카오로그인 API 연결
  app/build.gradle.kts
  app/src/main/java/com/poptato/di/NetworkModule.kt
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  app/src/main/java/com/poptato/di/TokenAuthenticator.kt
  core/src/main/java/com/poptato/core/enums/BottomNavType.kt
  data/src/main/java/com/poptato/data/base/ApiResponse.kt
  data/src/main/java/com/poptato/data/base/BaseRepository.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/base/Mapper.kt
  data/src/main/java/com/poptato/data/mapper/AuthResponseMapper.kt
  data/src/main/java/com/poptato/data/mapper/ReissueResponseMapper.kt
  data/src/main/java/com/poptato/data/mapper/UnitResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/auth/TokenResponse.kt
  data/src/main/java/com/poptato/data/model/response/login/AuthResponse.kt
  data/src/main/java/com/poptato/data/repository/AuthRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/AuthService.kt
  domain/build.gradle.kts
  domain/src/main/java/com/poptato/domain/base/UseCase.kt
  domain/src/main/java/com/poptato/domain/model/request/KaKaoLoginRequest.kt
  domain/src/main/java/com/poptato/domain/model/request/ReissueRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/auth/TokenModel.kt
  domain/src/main/java/com/poptato/domain/model/response/login/AuthModel.kt
  domain/src/main/java/com/poptato/domain/repository/AuthRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/PostKaKaoLoginUseCase.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginViewModel.kt
Labels: feat, refactor

#32 Feat: 기록 화면 구현
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_history_calendar.xml
  design-system/src/main/res/drawable/ic_history_checked.xml
  design-system/src/main/res/drawable/ic_history_delete.xml
  design-system/src/main/res/drawable/ic_history_search.xml
  feature/history/.gitignore
  feature/history/build.gradle.kts
  feature/history/consumer-rules.pro
  feature/history/proguard-rules.pro
  feature/history/src/androidTest/java/com/potato/history/ExampleInstrumentedTest.kt
  feature/history/src/main/AndroidManifest.xml
  feature/history/src/main/java/com/potato/history/HistoryEvent.kt
  feature/history/src/main/java/com/potato/history/HistoryPageState.kt
  feature/history/src/main/java/com/potato/history/HistoryScreen.kt
  feature/history/src/main/java/com/potato/history/HistoryViewModel.kt
  feature/history/src/main/java/com/potato/history/model/HistoryGroupedItem.kt
  feature/history/src/main/java/com/potato/history/model/HistoryItemModel.kt
  feature/history/src/test/java/com/potato/history/ExampleUnitTest.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  settings.gradle.kts
Labels: feat

#37 Feat: 백로그 생성 API 연결
  app/src/main/java/com/poptato/di/NetworkModule.kt
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/base/BaseViewModel.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/repository/AuthRepositoryImpl.kt
  data/src/main/java/com/poptato/data/repository/BacklogRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/BacklogService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_right_arrow.xml
  domain/src/main/java/com/poptato/domain/model/request/backlog/CreateBacklogRequestModel.kt
  domain/src/main/java/com/poptato/domain/repository/AuthRepository.kt
  domain/src/main/java/com/poptato/domain/repository/BacklogRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/auth/SaveTokenUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/backlog/CreateBacklogUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogEvent.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginViewModel.kt
  feature/src/main/java/com/poptato/feature/MainActivity.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
Labels: feat, design

#39 Feat: 백로그 조회 API 연결
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/BacklogListResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogItemResponse.kt
  data/src/main/java/com/poptato/data/repository/BacklogRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/BacklogService.kt
  domain/src/main/java/com/poptato/domain/model/request/backlog/GetBacklogListRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/backlog/BacklogListModel.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodoItemModel.kt
  domain/src/main/java/com/poptato/domain/repository/BacklogRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/backlog/GetBacklogListUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogPageState.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  gradle/libs.versions.toml
Labels: feat

#41 Feat: 회원 탈퇴 API 연결
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/repository/MyPageRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/MyPageService.kt
  domain/src/main/java/com/poptato/domain/repository/MyPageRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/mypage/UserDeleteUseCase.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteEvent.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeletePageState.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteScreen.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteViewModel.kt
Labels: feat

#43 Feat: 로그아웃 API 연결
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/datastore/PoptatoDataStore.kt
  data/src/main/java/com/poptato/data/mapper/AuthLogOutResponseMapper.kt
  data/src/main/java/com/poptato/data/repository/AuthRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/AuthService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/repository/AuthRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/auth/ClearTokenUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/mypage/LogOutUseCase.kt
  feature/setting/src/main/java/com/poptato/setting/SettingEvent.kt
  feature/setting/src/main/java/com/poptato/setting/SettingScreen.kt
  feature/setting/src/main/java/com/poptato/setting/SettingViewModel.kt
  feature/setting/src/main/java/com/poptato/setting/logout/LogOutDialog.kt
  feature/setting/src/main/java/com/poptato/setting/logout/LogOutDialogState.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteViewModel.kt
Labels: feat

#45 Feat: 백로그 수정, 삭제 api 연결
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/util/DismissKeyboardOnClick.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/repository/TodoRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/TodoService.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/ModifyTodoRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/TodoContentModel.kt
  domain/src/main/java/com/poptato/domain/repository/TodoRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/DeleteTodoUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/ModifyTodoUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogEvent.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
Labels: feat, refactor

#59 Feat: 투데이/어제 한 일 달성 여부 수정 API 연결
  app/src/main/ic_launcher-playstore.png
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_background.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_background.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_background.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_background.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/src/main/java/com/poptato/core/util/TimeFormatter.kt
  core/ui/src/main/java/com/poptato/ui/common/DatePickerBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/TodayListResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/today/TodayItemResponse.kt
  data/src/main/java/com/poptato/data/repository/TodayRepositoryImpl.kt
  data/src/main/java/com/poptato/data/repository/TodoRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/TodayService.kt
  data/src/main/java/com/poptato/data/service/TodoService.kt
  design-system/src/main/java/com/poptato/design_system/Color.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_today_msg_bubble.xml
  domain/src/main/java/com/poptato/domain/model/request/today/GetTodayListRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/DeadlineContentModel.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/TodoIdModel.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/UpdateDeadlineRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodoItemModel.kt
  domain/src/main/java/com/poptato/domain/repository/TodayRepository.kt
  domain/src/main/java/com/poptato/domain/repository/TodoRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/today/GetTodayListUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/SwipeTodoUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/UpdateBookmarkUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/UpdateDeadlineUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/UpdateTodoCompletionUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayEvent.kt
  feature/today/src/main/java/com/poptato/today/TodayPageState.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
Labels: feat

#51 Feat: 기록 조회 api 구현
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  core/build.gradle.kts
  core/src/main/java/com/poptato/core/util/ReachedLastItem.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/HistoryResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/history/HistoryItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/history/HistoryListResponse.kt
  data/src/main/java/com/poptato/data/repository/HistoryRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/HistoryService.kt
  domain/src/main/java/com/poptato/domain/model/request/history/HistoryListRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/history/HistoryItemModel.kt
  domain/src/main/java/com/poptato/domain/model/response/history/HistoryListModel.kt
  domain/src/main/java/com/poptato/domain/repository/HistoryRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/history/GetHIstoryListUseCase.kt
  feature/history/src/main/java/com/potato/history/HistoryPageState.kt
  feature/history/src/main/java/com/potato/history/HistoryScreen.kt
  feature/history/src/main/java/com/potato/history/HistoryViewModel.kt
  feature/history/src/main/java/com/potato/history/model/HistoryGroupedItem.kt
  gradle/libs.versions.toml
Labels: feat

#49 Feat: 어제 한 일 조회 API 연결
  app/src/main/java/com/poptato/di/RepositoryModule.kt
  app/src/main/java/com/poptato/di/ServiceModule.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/YesterdayListResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/yesterday/YesterdayListItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/yesterday/YesterdayListResponse.kt
  data/src/main/java/com/poptato/data/repository/YesterdayRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/YesterdayService.kt
  domain/src/main/java/com/poptato/domain/model/request/ListRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/yesterday/YesterdayItemModel.kt
  domain/src/main/java/com/poptato/domain/model/response/yesterday/YesterdayListModel.kt
  domain/src/main/java/com/poptato/domain/repository/YesterdayRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/yesterday/GetYesterdayListUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogPageState.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListPageState.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListScreen.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListViewModel.kt
Labels: feat

#61 Fix: 체크박스 렌더링 오류 해결
  data/src/main/java/com/poptato/data/mapper/TodayListResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/today/TodayItemResponse.kt
  domain/src/main/java/com/poptato/domain/model/enums/TodoStatus.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
Labels: fix

#63 Refactor: 디자인 수정사항 반영, 페이징 로직 추가
  .gitignore
  app/src/androidTest/java/com/poptato/app/ExampleInstrumentedTest.kt
  app/src/main/java/com/poptato/di/TokenAuthenticator.kt
  app/src/test/java/com/poptato/app/ExampleUnitTest.kt
  core/ui/src/main/java/com/poptato/ui/common/BookmarkItem.kt
  core/ui/src/main/java/com/poptato/ui/common/TopBar.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_splash.xml
  feature/backlog/src/main/java/com/poptato/backlog/BacklogPageState.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/splash/src/main/java/com/poptato/splash/SplashScreen.kt
  feature/src/main/java/com/poptato/feature/MainActivity.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
Labels: refactor, design

#64 Refactor: 마이페이지 디자인 수정사항 반영
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_back_arrow.xml
  design-system/src/main/res/raw/policy.pdf
  feature/mypage/build.gradle.kts
  feature/mypage/src/main/java/com/poptato/mypage/MyPagePageState.kt
  feature/mypage/src/main/java/com/poptato/mypage/MyPageScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/FAQViewerScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/NoticeViewerScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/PolicyViewerScreen.kt
  feature/setting/src/main/java/com/poptato/setting/editdata/EditUserDataPageState.kt
  feature/setting/src/main/java/com/poptato/setting/editdata/EditUserDataScreen.kt
  feature/setting/src/main/java/com/poptato/setting/editdata/EditUserDataViewModel.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataEvent.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataPageState.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataScreen.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataViewModel.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: feat

#67 Fix: 투데이 -> 할 일 스와이프 에러 해결
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
Labels: fix, design

#69 Feat: 토스트 메시지 디자인 수정
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/common/CommonSnackBar.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  design-system/src/main/java/com/poptato/design_system/Color.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogEvent.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/component/BottomNavBarComponent.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
Labels: refactor, design

#71 Refactor: QA 수정사항 반영
  app/src/main/java/com/poptato/di/TokenAuthenticator.kt
  core/src/main/java/com/poptato/core/util/Extensions.kt
  core/ui/src/main/java/com/poptato/ui/common/DatePickerBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/util/DragDropListState.kt
  core/ui/src/main/java/com/poptato/ui/util/Extensions.kt
  data/src/main/java/com/poptato/data/repository/AuthRepositoryImpl.kt
  domain/src/main/java/com/poptato/domain/repository/AuthRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/auth/GetTokenUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/auth/ReissueTokenUseCase.kt
  feature/backlog/build.gradle.kts
  feature/backlog/src/main/java/com/poptato/backlog/BacklogPageState.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/src/main/java/com/poptato/feature/component/BottomNavBarComponent.kt
  feature/today/src/main/java/com/poptato/today/TodayPageState.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
  gradle/libs.versions.toml
Labels: refactor, fix, design

#73 Refactor: QA 수정사항 반영
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/PolicyResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/mypage/PolicyResponse.kt
  data/src/main/java/com/poptato/data/repository/MyPageRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/MyPageService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/model/response/mypage/PolicyModel.kt
  domain/src/main/java/com/poptato/domain/repository/MyPageRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/mypage/GetPolicyUseCase.kt
  feature/mypage/build.gradle.kts
  feature/mypage/src/main/java/com/poptato/mypage/MyPageScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/policy/PolicyPageState.kt
  feature/mypage/src/main/java/com/poptato/mypage/policy/PolicyViewModel.kt
  feature/mypage/src/main/java/com/poptato/mypage/policy/PolicyViewerScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/FAQViewerScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/NoticeViewerScreen.kt
  feature/mypage/src/main/java/com/poptato/mypage/viewer/PolicyViewerScreen.kt
Labels: refactor, design

#75 Fix: 스크롤바 삭제 및 드래그앤드롭 버그 수정
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
Labels: refactor, fix
