Repository Kusitms-POPTATO-DEV/illdan_Android, pull requests merged in 2024-11, with the labels that each got.

#79 Fix: 날짜 선택 버그 수정 및 자동 로그인 구현
  app/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/base/BaseViewModel.kt
  core/ui/src/main/java/com/poptato/ui/common/DatePickerBottomSheet.kt
  data/src/main/java/com/poptato/data/datastore/PoptatoDataStore.kt
  data/src/main/java/com/poptato/data/mapper/TodoIdResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/backlog/TodoIdResponse.kt
  data/src/main/java/com/poptato/data/repository/BacklogRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/BacklogService.kt
  domain/src/main/java/com/poptato/domain/model/request/todo/TodoIdModel.kt
  domain/src/main/java/com/poptato/domain/repository/BacklogRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/backlog/CreateBacklogUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/splash/src/main/java/com/poptato/splash/SplashPageState.kt
  feature/splash/src/main/java/com/poptato/splash/SplashScreen.kt
  feature/splash/src/main/java/com/poptato/splash/SplashViewModel.kt
  feature/src/main/java/com/poptato/feature/MainActivity.kt
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
  gradle.properties
Labels: refactor, fix

#83 Fix: 자동 로그인 로직 수정
  app/build.gradle.kts
  app/src/main/java/com/poptato/di/TokenAuthenticator.kt
  core/ui/src/main/java/com/poptato/ui/util/CommonEventManager.kt
  data/src/main/java/com/poptato/data/base/ApiResponse.kt
  data/src/main/java/com/poptato/data/base/BaseRepository.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/base/ApiException.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/splash/src/main/java/com/poptato/splash/SplashViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
Labels: refactor, fix

#86 Refactor: 기능 수정 사항 반영
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/com/poptato/ui/common/CalendarBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/DatePickerBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_arrow_left_20.xml
  design-system/src/main/res/drawable/ic_arrow_right_20.xml
  design-system/src/main/res/drawable/ic_calendar.xml
  design-system/src/main/res/drawable/ic_pen.xml
  design-system/src/main/res/drawable/ic_refresh.xml
  design-system/src/main/res/drawable/ic_trash.xml
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginEvent.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginPageState.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginViewModel.kt
  feature/splash/src/main/java/com/poptato/splash/SplashViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
Labels: feat, refactor

#87 Feat: 할 일 카테고리 설정
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  core/ui/src/main/java/com/poptato/ui/common/CategoryBottomSheet.kt
  core/ui/src/main/java/com/poptato/ui/common/OneBtnTypeDialog.kt
  core/ui/src/main/java/com/poptato/ui/common/TwoBtnTypeDialog.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_add_category.xml
  design-system/src/main/res/drawable/ic_add_category_icon.png
  design-system/src/main/res/drawable/ic_add_circle.xml
  domain/src/main/java/com/poptato/domain/model/enums/BottomSheetType.kt
  domain/src/main/java/com/poptato/domain/model/enums/DialogType.kt
  domain/src/main/java/com/poptato/domain/model/response/category/CategoryIconItemModel.kt
  domain/src/main/java/com/poptato/domain/model/response/category/CategoryIconTotalListModel.kt
  domain/src/main/java/com/poptato/domain/model/response/category/CategoryIconTypeListModel.kt
  domain/src/main/java/com/poptato/domain/model/response/dialog/DialogContentModel.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/category/.gitignore
  feature/category/build.gradle.kts
  feature/category/consumer-rules.pro
  feature/category/proguard-rules.pro
  feature/category/src/androidTest/java/com/poptato/category/ExampleInstrumentedTest.kt
  feature/category/src/main/AndroidManifest.xml
  feature/category/src/main/java/com/poptato/category/CategoryPageState.kt
  feature/category/src/main/java/com/poptato/category/CategoryScreen.kt
  feature/category/src/main/java/com/poptato/category/CategoryViewModel.kt
  feature/category/src/test/java/com/poptato/category/ExampleUnitTest.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataScreen.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataViewModel.kt
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  settings.gradle.kts
Labels: feat

#91 Feat: 오늘 페이지 바텀시트 구현 및 버그 수정
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  design-system/src/main/java/com/poptato/design_system/Color.kt
  design-system/src/main/java/com/poptato/design_system/PoptatoTypo.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/src/main/java/com/poptato/feature/MainActivity.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayEvent.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
  gradle.properties
Labels: feat, refactor

#93 Feat: 기록 캘린더 구현 및 api 연결
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/common/MonthPickerBottomSheet.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/HistoryCalendarResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/history/HistoryCalendarListResponse.kt
  data/src/main/java/com/poptato/data/repository/HistoryRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/HistoryService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_history_circle.png
  design-system/src/main/res/drawable/ic_history_moon.png
  design-system/src/main/res/drawable/ic_history_star.png
  design-system/src/main/res/drawable/ic_triangle_down.xml
  design-system/src/main/res/drawable/ic_triangle_up.xml
  domain/src/main/java/com/poptato/domain/model/enums/BottomSheetType.kt
  domain/src/main/java/com/poptato/domain/model/enums/MonthNav.kt
  domain/src/main/java/com/poptato/domain/model/request/history/HistoryCalendarRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/request/history/HistoryListRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/history/CalendarMonthModel.kt
  domain/src/main/java/com/poptato/domain/model/response/history/HistoryCalendarListModel.kt
  domain/src/main/java/com/poptato/domain/repository/HistoryRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/history/GetHistoryCalendarListUseCase.kt
  domain/src/main/java/com/poptato/domain/usecase/history/GetHistoryListUseCase.kt
  feature/history/src/main/java/com/potato/history/HistoryPageState.kt
  feature/history/src/main/java/com/potato/history/HistoryScreen.kt
  feature/history/src/main/java/com/potato/history/HistoryViewModel.kt
  feature/history/src/main/java/com/potato/history/model/HistoryGroupedItem.kt
  feature/history/src/main/java/com/potato/history/model/HistoryItemModel.kt
  feature/src/main/java/com/poptato/feature/MainPageState.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
Labels: feat

#100 Feat: 반복 할일 설정 구현
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/common/BookmarkItem.kt
  core/ui/src/main/java/com/poptato/ui/common/CommonFunctions.kt
  core/ui/src/main/java/com/poptato/ui/common/PoptatoSwitchButton.kt
  core/ui/src/main/java/com/poptato/ui/common/RepeatItem.kt
  core/ui/src/main/java/com/poptato/ui/common/TodoBottomSheet.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/BacklogListResponseMapper.kt
  data/src/main/java/com/poptato/data/mapper/TodayListResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/backlog/BacklogItemResponse.kt
  data/src/main/java/com/poptato/data/model/response/today/TodayItemResponse.kt
  data/src/main/java/com/poptato/data/repository/TodoRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/BacklogService.kt
  data/src/main/java/com/poptato/data/service/TodoService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/model/response/today/TodoItemModel.kt
  domain/src/main/java/com/poptato/domain/repository/TodoRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/todo/UpdateTodoRepeatUseCase.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/today/src/main/java/com/poptato/today/TodayScreen.kt
  feature/today/src/main/java/com/poptato/today/TodayViewModel.kt
Labels: feat, design

#102 Feat: 회원 탈퇴 이유 입력
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/navigation/src/main/java/com/poptato/navigation/NavRoutes.kt
  core/ui/src/main/java/com/poptato/ui/common/PoptatoCheckBox.kt
  data/src/main/java/com/poptato/data/base/Endpoints.kt
  data/src/main/java/com/poptato/data/mapper/UserDataResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/mypage/UserDataResponse.kt
  data/src/main/java/com/poptato/data/repository/MyPageRepositoryImpl.kt
  data/src/main/java/com/poptato/data/service/MyPageService.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  design-system/src/main/res/drawable/ic_checked_danger.xml
  domain/src/main/java/com/poptato/domain/model/enums/UserDeleteType.kt
  domain/src/main/java/com/poptato/domain/model/request/auth/UserDeleteRequestModel.kt
  domain/src/main/java/com/poptato/domain/model/response/mypage/UserDataModel.kt
  domain/src/main/java/com/poptato/domain/repository/MyPageRepository.kt
  domain/src/main/java/com/poptato/domain/usecase/mypage/UserDeleteUseCase.kt
  feature/mypage/build.gradle.kts
  feature/mypage/src/main/java/com/poptato/mypage/MyPageScreen.kt
  feature/setting/build.gradle.kts
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeletePageState.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteScreen.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/ServiceDeleteViewModel.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/finish/ServiceDeleteFinishPageState.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/finish/ServiceDeleteFinishScreen.kt
  feature/setting/src/main/java/com/poptato/setting/servicedelete/finish/ServiceDeleteFinishViewModel.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataScreen.kt
  feature/src/main/java/com/poptato/feature/MainScreen.kt
  feature/src/main/java/com/poptato/feature/MainViewModel.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListScreen.kt
Labels: feat, design

#107 Refactor: 캘린더 뷰 수정
  design-system/src/main/res/drawable/ic_history_circle.png
  design-system/src/main/res/drawable/ic_history_moon.png
  feature/history/src/main/java/com/potato/history/HistoryScreen.kt
Labels: refactor, design

#108 Feat: FCM 푸시 알림 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/poptato/app/FcmService.kt
  build.gradle.kts
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  domain/src/main/java/com/poptato/domain/model/request/KaKaoLoginRequest.kt
  feature/backlog/build.gradle.kts
  feature/backlog/src/main/java/com/poptato/backlog/BacklogScreen.kt
  feature/build.gradle.kts
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/poptato/login/KaKaoLoginPageState.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginScreen.kt
  feature/login/src/main/java/com/poptato/login/KaKaoLoginViewModel.kt
  gradle/libs.versions.toml
Labels: feat

#111 Fix: calendar icon 수정
  feature/history/src/main/java/com/potato/history/HistoryViewModel.kt
Labels: refactor, fix

#112 Refactor: 카테고리 없을 시 바텀시트 수정
  core/navigation/src/main/java/com/poptato/navigation/NavGraph.kt
  core/ui/src/main/java/com/poptato/ui/common/CategoryBottomSheet.kt
  data/src/main/java/com/poptato/data/mapper/UserDataResponseMapper.kt
  data/src/main/java/com/poptato/data/model/response/mypage/UserDataResponse.kt
  design-system/src/main/java/com/poptato/design_system/StringComponent.kt
  feature/mypage/src/main/java/com/poptato/mypage/MyPageScreen.kt
  feature/setting/src/main/java/com/poptato/setting/userdata/UserDataScreen.kt
  feature/yesterdaylist/src/main/java/com/poptato/yesterdaylist/YesterdayListScreen.kt
Labels: design

#115 Refactor: snapshotList Mutex 적용
  feature/backlog/src/main/java/com/poptato/backlog/BacklogViewModel.kt
Labels: refactor
